/******** Viewports larger than 1200px (XL and XXL devices) **********/

body {
    background-color: rgb(88, 76, 76);
    height: 900px;
    font-family: 'Mukta', sans-serif;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: rgb(255, 255, 255);
}

h2 {
    color: white;
    font-family: 'Mukta', sans-serif;
    -webkit-text-stroke:1px black;
    font-weight: 800;
    font-size: 36px;
}

h3 {
    color: rgb(85, 11, 11);
}

p {
    color: white;
}

.main-container {
    background-color: rgb(2, 21, 37);
    height: 600px;
    width: 900px;
    display: flex;
    flex-direction: row;
    border: 3px solid rgb(250, 239, 220);
    border-radius: 18px;
    box-shadow: 20px 20px 15px rgb(244, 181, 66, 0.8);
    
}

.container-image {
    height: inherit;
    width: 50%;
    background-image: url("images/mountain-2.jpg");
    background-size: cover;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.container-login-form { 
    background-color: rgb(233, 216, 187);
    height: inherit;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.top-content {
    height: 45%;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.login-card {
    height: 15%;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.bottom-content {
    height: 40%;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 30px;
}

.input-box {
    width: 140px;
    height: 35px;
    border: .7px solid rgb(247, 158, 75);
    border-radius: 10px;
    padding-left: 8px;
}

#login-btn {
    background-color: rgb(247, 158, 75);
    border-radius: 10px;
    border: .5px solid rgb(247, 158, 75);
    height: 38px;
    width: 65px;
}

.label-text {
    font-size: 12px;
    margin-left: 20px;
    margin-right: 20px;
}

.remember-me {
    width: inherit;
}

#vertical-line {
    border: .1px solid rgb(99, 99, 99);
    height: 15px;
}

/******** Viewports betweem 768px and 1200px (L and XL devices) **********/

@media (min-width: 768px) and (max-width: 1200px){

    .main-container {
        height: 600px;
        width: 600px;
    }

    .container-image {
        display: none;
    }

    .container-login-form { 
        width: 100%;
        border-radius: 15px;
        background-image: url("images/mountain-2.jpg");
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .login-card {
        gap: 15px;
        padding-bottom: 90px;
        display: flex;
        flex-direction: row;
    }
     
    .bottom-content {
        background-color: rgb(233, 216, 187);
        height: 13%;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding-bottom: 5px;
        margin: 0px;
        border-bottom-left-radius: 16px;
        border-bottom-right-radius: 16px;
    }
    
    .input-box {
        width: 170px;
    }
    
    #login-btn {
        width: 90px;
    }
    
    .label-text {
        margin-left: 25px;
        margin-right: 25px;
    }
    
    .remember-me {
        color: white;
    }
}

/******** Viewports betweem 576px and 767px (S and M devices) **********/

@media (min-width: 576px) and (max-width: 767px){
    
    h3 {
        color: white;
        font-size: 16px;
    }

    .main-container {
        height: 700px;
        width: 450px;
        min-width: 300px;
    }

    .container-image {
        display: none;
    }

    .container-login-form { 
        width: 100%;
        border-radius: 10px;
        background-image: url("images/mountain-2.jpg");
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .login-card {
        height: 30%;
        gap: 15px;
        padding-bottom: 120px;
        display: flex;
        flex-direction: column;
    }
     
    .bottom-content {
        background-color: rgb(233, 216, 187);
        height: 14%;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding-bottom: 5px;
        margin: 0px;
        border-bottom-left-radius: 16px;
        border-bottom-right-radius: 16px;
    }
    
    .input-box {
        width: 200px;
    }
    
    #login-btn {
        width: 90px;
    }
    
    .label-text {
        margin-left: 25px;
        margin-right: 25px;
    }
    
    .remember-me {
        color: white;
        width: 120px;
        padding-top: 10px;
    }
}

/******** Viewports less than 575px (XS devices) **********/

@media (max-width: 575px){

    h3 {
        color: white;
        font-size: 16px;
    }

    .main-container {
        height: 700px;
        width: 80vw;
    }

    .container-image {
        display: none;
    }

    .container-login-form { 
        width: 100%;
        border-radius: 10px;
        background-image: url("images/mountain-2.jpg");
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .login-card {
        height: 30%;
        gap: 15px;
        padding-bottom: 120px;
        display: flex;
        flex-direction: column;
    }
     
    .bottom-content {
        background-color: rgb(233, 216, 187);
        height: 10%;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-end;
        padding-bottom: 35px;
        margin: 0px;
        border-bottom-left-radius: 16px;
        border-bottom-right-radius: 16px;
    }
    
    .input-box {
        width: 200px;
    }
    
    #login-btn {
        width: 90px;
    }
    
    .label-text {
        margin-left: 25px;
        margin-right: 25px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        
    }
    
    .remember-me {
        color: white;
        width: 120px;
        padding-top: 10px;
    }
}